In [1]:
import pandas as pd

wf_path = "data/aug_22/workflow-connections_Aug_22.csv"
tp_path = "data/aug_22/tool_popularity_Aug_22.csv"

In [2]:
wf = pd.read_csv(wf_path, sep="|")

/tmp/ipykernel_681767/3503387345.py:1: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  wf = pd.read_csv(wf_path, sep="|")

In [3]:
wf

,wf_id,wf_updated,in_id,in_tool,in_tool_v,out_id,out_tool,out_tool_v,published,deleted,has_errors
0,--------+------------+---------+--------------...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,3,2013-02-07,5.0,Grep1 ...,1.0.1,7.0,Remove beginning1 ...,1.0.0,f,t,f
2,3,2013-02-07,6.0,Cut1 ...,1.0.1,8.0,addValue ...,1.0.0,f,t,f
3,3,2013-02-07,7.0,Remove beginning1 ...,1.0.0,6.0,Cut1 ...,1.0.1,f,t,f
4,3,2013-02-07,7.0,Remove beginning1 ...,1.0.0,9.0,Cut1 ...,1.0.1,f,t,f
...,...,...,...,...,...,...,...,...,...,...,...
2980811,157077,2022-08-08,2419707.0,toolshed.g2.bx.psu.edu/repos/iuc/unicycler/un...,0.4.6.0,2419709.0,toolshed.g2.bx.psu.edu/repos/iuc/bandage/band...,0.8.1+galaxy1,f,f,f
2980812,157077,2022-08-08,2419707.0,toolshed.g2.bx.psu.edu/repos/iuc/unicycler/un...,0.4.6.0,2419710.0,toolshed.g2.bx.psu.edu/repos/iuc/bandage/band...,0.8.1+galaxy2,f,f,f
2980813,157077,2022-08-08,2419708.0,toolshed.g2.bx.psu.edu/repos/nml/spades/spade...,3.12.0+galaxy1,2419711.0,toolshed.g2.bx.psu.edu/repos/iuc/bandage/band...,0.8.1+galaxy2,f,f,f
2980814,157077,2022-08-08,2419708.0,toolshed.g2.bx.psu.edu/repos/nml/spades/spade...,3.12.0+galaxy1,2419712.0,toolshed.g2.bx.psu.edu/repos/iuc/bandage/band...,0.8.1+galaxy1,f,f,f
2980815,(2980814 rows),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
wf_fil_head = wf.head(100)
wf_fil_tail = wf.tail(1000)
wf_fil = pd.concat([wf_fil_head, wf_fil_tail])
wf_fil

,wf_id,wf_updated,in_id,in_tool,in_tool_v,out_id,out_tool,out_tool_v,published,deleted,has_errors
0,--------+------------+---------+--------------...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,3,2013-02-07,5.0,Grep1 ...,1.0.1,7.0,Remove beginning1 ...,1.0.0,f,t,f
2,3,2013-02-07,6.0,Cut1 ...,1.0.1,8.0,addValue ...,1.0.0,f,t,f
3,3,2013-02-07,7.0,Remove beginning1 ...,1.0.0,6.0,Cut1 ...,1.0.1,f,t,f
4,3,2013-02-07,7.0,Remove beginning1 ...,1.0.0,9.0,Cut1 ...,1.0.1,f,t,f
...,...,...,...,...,...,...,...,...,...,...,...
2980811,157077,2022-08-08,2419707.0,toolshed.g2.bx.psu.edu/repos/iuc/unicycler/un...,0.4.6.0,2419709.0,toolshed.g2.bx.psu.edu/repos/iuc/bandage/band...,0.8.1+galaxy1,f,f,f
2980812,157077,2022-08-08,2419707.0,toolshed.g2.bx.psu.edu/repos/iuc/unicycler/un...,0.4.6.0,2419710.0,toolshed.g2.bx.psu.edu/repos/iuc/bandage/band...,0.8.1+galaxy2,f,f,f
2980813,157077,2022-08-08,2419708.0,toolshed.g2.bx.psu.edu/repos/nml/spades/spade...,3.12.0+galaxy1,2419711.0,toolshed.g2.bx.psu.edu/repos/iuc/bandage/band...,0.8.1+galaxy2,f,f,f
2980814,157077,2022-08-08,2419708.0,toolshed.g2.bx.psu.edu/repos/nml/spades/spade...,3.12.0+galaxy1,2419712.0,toolshed.g2.bx.psu.edu/repos/iuc/bandage/band...,0.8.1+galaxy1,f,f,f
2980815,(2980814 rows),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
wf_fil.to_csv("data/aug_22/wf-subset.csv", index=None, sep="|")

In [6]:
tp = pd.read_csv(tp_path, sep="|")

In [7]:
tp_fil_head = tp.head(1000)
tp_fil_tail = tp.tail(1000)
tp_fil = pd.concat([tp_fil_head, tp_fil_tail])
tp_fil

,tool_id,month,count
0,----------------------------------------------...,NaN,NaN
1,toolshed.g2.bx.psu.edu/repos/bgruening/sdf_to...,2022-09-01,63928.0
2,__DATA_FETCH__ ...,2022-09-01,32104.0
3,toolshed.g2.bx.psu.edu/repos/devteam/fastqc/f...,2022-09-01,6885.0
4,toolshed.g2.bx.psu.edu/repos/iuc/snpsift/snpS...,2022-09-01,3042.0
...,...,...,...
51298,toolshed.g2.bx.psu.edu/repos/iuc/ngsutils_bam...,2020-09-01,1.0
51299,toolshed.g2.bx.psu.edu/repos/devteam/fastqtof...,2020-09-01,1.0
51300,toolshed.g2.bx.psu.edu/repos/earlhaminst/ense...,2020-09-01,1.0
51301,toolshed.g2.bx.psu.edu/repos/bgruening/rxdock...,2020-09-01,1.0
51302,(51301 rows),NaN,NaN

In [11]:
tp_fil.to_csv("data/aug_22/tp-subset.csv", index=None, sep="|")